<center><h1> Your Renter Profile </h1>

<main>

<img class="fit-picture"
    style= "width: 25%" 
     src="https://images.pexels.com/photos/3111575/pexels-photo-3111575.jpeg?cs=srgb&dl=pexels-matthis-volquardsen-3111575.jpg&fm=jpg"
     alt="Black lab sitting in front of dog house">

<p>Name: <%= @renter.name %></p>
<p>Rent Allowance: <%= @renter.rent_allowance %></p>

</main>

<nav>
<li> <%= link_to "Create Dog Profile", new_dog_path, class: "btn btn-danger" %> </li>
<br>
<li> <%= link_to "Update Renter Info", edit_renter_path, class: "btn btn-danger" %> </li>

</nav>

</center>