<center><h1> Your Renter Profile </h1>

<main>

<p>Name: <%= @renter.name %></p>
<p>Rent Allowance: <%= @renter.rent_allowance %></p>

</main>

<nav>
<li> <%= link_to "Create Dog Profile", new_dog_path %> </li>
</nav>

</center>