<center><h1> Welcome to Doghouse </h1>
<br>



<img class="fit-picture"
    style= "width: 40%" 
     src="https://images.pexels.com/photos/3987557/pexels-photo-3987557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
     alt="brown-short-coated-dog-sitting-inside-open-doorway-behind-welcome-matt">
<br>
<p>We help dog owners find pet-friendly apartments within thier budget! </p>
<br>

<nav>
 <%= link_to "Wipe Your Paws Please", new_renter_path, class: "btn btn-danger" %> 
</nav>

</center>