<center><h1>Available Pet Friendly Apartments</h1>
<main>
<br>
<ul>
  <% @apartments.each do |apartment| %>
    <p> <%= link_to apartment.address, apartment %> </p>
  <% end %>
</ul>

</main>

<br>
<nav> 
<%= link_to "Go Back", :back, class: "btn btn-danger" %>
</nav>
</center>
